.playerName {
    /* changement ici */
    color: white;
    text-align: center;
    background-color: #FFC700;
    justify-content: center;
    align-items: center;
    width: 99.9%;
    margin-bottom: 2em;
    padding-top: 2em;
    border-bottom: none;
}

.burger1 {
    position: absolute;
    width: 96px;
    height: 20px;
    left: 0px;
    top: calc(50% - 20px/2 - 0.5px);
    border: 4px solid #000;
}

.burger2 {
    position: absolute;
    width: 96px;
    height: 20px;
    left: 354px;
    top: calc(50% - 20px/2 - 0.5px);
    border: 4px solid #000;
}

.header {
    /* changement ici */
    text-align: center;
    margin: 0;
}

.logo {
    position: static;
    order: 1;
    align-self: center;
    flex-grow: 0;
    /* changement ici */
    margin: -10px 15px;
    width: 30%;
}

.headerContainer {
    background-color:  #FFC700;
    width: 100%;
}