.lowerContainer {
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 5px 2px;
}

.remainingRoll, .potentialScore, .bonus, .finaltotal    {
    padding: 10px 5px;
    margin: 10px 180px;
    border: 1px solid white;
    border-radius: 15px;
}

input {
    padding: 5px 5px;
    width: 150px;
    border: 0;
    outline: 0;
    border-bottom: 2px solid white;
    background-color: #FFC700;
}